*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  background-color: #849d8f;
}

a,
body {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 900px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-navigation__wrapper {
  display: flex;
}

.main-header-logo {
  padding-right: 10px;
}

.header-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  font-weight: 700;
  list-style: none;
}

.header-navigation__item {
  position: relative;
}

.header-navigation__item--link {
  display: block;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 14px;
}

.underline {
  border-bottom: 1px solid rgba(256, 256, 256, 0.5);
}

.cat-navigation {
  display: none;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
  padding-top: 12px;
  list-style: none;
}

.user-navigation__item {
  position: relative;
}

.user-navigation__link {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  background-color: rgba(256, 256, 256, 0.5);
}

.user-navigation__link--search {
  font-size: 0;
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-navigation__link--search::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("/img/section-1/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-navigation__link--login {
  padding-right: 16px;
  padding-left: 44px;
}

.user-navigation__link--login::after {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("/img/section-1/entrance.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-navigation__link--basket {
  padding-right: 34px;
  padding-left: 45px;
}

.user-navigation__link--basket::after {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("/img/section-1/basket.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.header-container p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
}

.header-container--phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 6px;
}
