/* css imprts */
@import url("./header/header.css");
@import url("./header/header-navigation.css");
@import url("./header/category.css");
@import url("./header/user.css");
@import url("./header/container.css");
@import url("./header/search-form.css");
@import url("./header/login-form.css");
@import url("./main/button.css");
@import url("./main/slider.css");
@import url("./main/offer.css");
@import url("./main/product.css");
@import url("./main/description.css");
@import url("./main/blog.css");
@import url("./main/contacts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
}

a,
body {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.underline {
  border-bottom: 1px solid rgba(256, 256, 256, 0.5);
}

.underline:hover {
  border-bottom: 1px solid rgba(256, 188, 158, 0.3);
}

.underline:active {
  border-bottom: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 40px;
}
