.user-popup {
  display: none;
  position: absolute;
  z-index: 1;
  top: 36px;
  right: -1px;
  width: 540px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-popup__table {
  width: 510px;
  padding-bottom: 14px;
}

.user-popup__item-td {
  padding: 0;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.user-popup__item-td--remove-button {
  content: "";
  width: 11px;
  height: 11px;
  font-size: 0;
  border: none;
  background: none;
  background-image: url("/img/section-10/x.svg");
  background-repeat: no-repeat;
}

.user-popup__item-td--image {
  padding-right: 14px;
  padding-left: 14px;
}

.user-popup__item-td--name {
  width: 220px;
}

.user-popup__item-td--weight span {
  color: #999999;
}

.user-popup__item-td--weight {
  padding-left: 20px;
}

.user-popup__item-td--total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.user-popup__item-td--total-item {
  padding-top: 15px;
  border-top: 1px solid #cacac7;
  text-align: right;
}

.button--user-popup {
  float: right;
  width: 172px;
  height: 44px;
}
