.login-form {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;
  display: none;
  box-sizing: border-box;
  min-width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;
  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.login-form__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 174px;
}

.login-form,
.user-navigation__link--login:hover {
  color: #323232;
  background-color: #f8f7f5;
}

.login-form__input {
  width: 100%;
  min-height: 42px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 24px;
}

.login-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.login-form__button {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
}

.login-form__wrapper-link {
  display: flex;
  flex-direction: column;
}

.login-form__link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-form__link .underline {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}

.login-form__link .underline:hover {
  color: #e84d37;
  border-bottom-color: rgba(256, 188, 158, 0.5);
}
