.user {
  margin: 0;
  margin-left: 58px;
  padding: 0;
  padding-top: 12px;
  gap: 10px;
  display: flex;
  list-style: none;
}

.user__item {
  position: relative;
}

.user__link {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  background-color: rgba(256, 256, 256, 0.2);
}

.user__link--search {
  padding: 0;
  width: 32px;
  height: 32px;
}

.user__link--search::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-position: 50% 50%;
  background-image: url("../../img/section-1/loupe.svg");
  background-repeat: no-repeat;
}

.user__link--search:hover:after {
  content: "";
  background-color: #f8f7f4;
  border-radius: 50%;
  background-position: 50% 50%;
  background-image: url("../../img/section-1/loupe-black.svg");
}

.user__item:hover .search-form,
.user__item:hover .login-form {
  display: block;
}

.user__link--login {
  padding-right: 16px;
  padding-left: 44px;
}

.user__link--login::after {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-position: 50% 50%;
  background-image: url("../../img/section-1/entrance.svg");
  background-repeat: no-repeat;
}

.user__link--login:hover:after {
  background-position: 50% 50%;
  background-image: url("../../img/section-1/entrance-black.svg");
}

.user__link--basket {
  padding-right: 14px;
  padding-left: 44px;
  min-width: 117px;
  background-repeat: no-repeat;
}

.user__link--basket::after {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-position: 50% 50%;
  background-image: url("../../img/section-1/basket.svg");
  background-repeat: no-repeat;
}

.user__link--basket:hover:after {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-position: 50% 50%;
  background-image: url("../../img/section-1/basket-full.svg");
  background-repeat: no-repeat;
}

.user__link--basket:hover,
.user__link--basket-active {
  color: #000000;
  background-color: #f8f7f4;
}

.user__link--basket-active::after {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  background-position: 50% 50%;
  background-image: url("../../img/section-1/basket-full.svg");
  background-repeat: no-repeat;
}
