.offer {
  display: flex;
  justify-content: space-between;
}

.offer__item {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  min-height: 228px;
  padding-top: 20px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 22px;
  border-radius: 16px;
  background-position: 0;
}

.offer__item--raspberry {
  background-color: #a82c3e;
  background-image: url("/img/section-3/raspberry-background.png");
  background-repeat: no-repeat;
}

.offer__item--chocolate {
  background-color: #5a3a30;
  background-image: url("/img/section-3/chocolate-backgroung.png");
  background-repeat: no-repeat;
}

.offer__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}

.offer__description {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button--offer {
  display: block;
  align-self: flex-end;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
}
