.header-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.header-container p {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-container__phone {
  padding-top: 6px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
