.blog {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.blog--wrapper {
  max-width: 420px;
  min-height: 220px;
  border-radius: 16px;
}

.blog-news {
  padding-top: 27px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-image: url("/img/section-6/strawberry-background.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.blog-news__title {
  margin: 0;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #5a5a5a;
}

.blog-news__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #353535;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.7);
}

.blog-mailing {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-image: url("/img/section-6/bg-post.svg");
  background-repeat: no-repeat;
}

.blog-mailing__wrapper {
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  border-radius: 16px;
  background-color: #f8f7f4;
}

.blog-mailing__title {
  margin: 0;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #5a5a5a;
}

.blog-mailing__form {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.blog-mailing__input {
  width: 230px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
}

.button--mailing {
  width: 130px;
}
