.main-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-description__container {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  gap: 7px;
  display: flex;
  flex-direction: column;
  max-width: 860px;
  min-height: 372px;
  background-position: 50%;
  background-image: url("./img/section-5/wafer-background.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  color: #323232;
}

.main-description__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.main-description__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.main-description__item {
  padding-top: 15px;
  padding-left: 55px;
  max-width: 410px;
  min-height: 126px;
  font-size: 16px;
  line-height: 22px;
  background-repeat: no-repeat;
}

.main-description__item--ice {
  background-image: url("./img/section-5/ice-cream.svg");
}

.main-description__item--cow {
  background-image: url("./img/section-5/cow.svg");
}

.main-description__item--eco {
  background-image: url("./img/section-5/eco.svg");
}

.main-description__item--thermo {
  background-image: url("./img/section-5/thermometer.svg");
}
