.slider {
  position: relative;
  padding: 0;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: relative;
  padding-top: 268px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.slider__item--active {
  display: flex;
}

.slider__image {
  position: absolute;
  z-index: -1;
  top: -126px;
  left: -95px;
}

.slider__description {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  max-width: 700px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.button--slider {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slider__buttons {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding: 0;
  gap: 8px;
  display: flex;
  list-style: none;
}

.buttons__link {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.buttons__link--active,
.buttons__link:active {
  background-color: #ffffff;
}

.buttons__link:not(.buttons__link--active):not(:active):hover {
  background-color: rgba(256, 256, 256, 0.5);
}
